<div class="container">
  <div class="row">
    <%= render 'sidebar', user: @user, book: @book %>
  <%# テンプレート化 %>



  <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@show_book.user_id) do %>
                <%= image_tag @show_book.user.get_profile_image(100,100) %>
                <br>
                <%= @show_book.user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@show_book.id) do %>
              <%= @show_book.title %>
            <% end %>
          </td>
          <td>
            <%= @show_book.body %>
          </td>
          <% if @show_book.user == current_user %>
            <td>
              <%= link_to "Edit", edit_book_path(@show_book.id), class: "btn btn-sm btn-success", method: :get %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@show_book.id), class: "btn btn-sm btn-danger", method: :delete %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  </div>
</div>